
.portfoliopic img{
    width:100%;
    height:100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    border-radius: 25px;

}
@media only screen and (min-width: 992px){
    .text-bubble{
        margin-top: 5rem;
        margin-left: 5rem;
        width: auto;
        
    }
}


@media only screen and (min-width: 600px) {
    .text-bubble{
        margin-top: 3rem;
        width: auto;
    }
}
@media only screen and (max-width: 600px) {
    .text-bubble{
        margin-top: 3rem;
        width: auto;
    }
}

h2{
    font-size: 1.5rem;
    font-family: "comic sans ms", sans-serif;
    color: #9fc5e8;
}

p {
    font-size: 1.1rem;
    color: beige;
}


h1{
    color: antiquewhite;
}